{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} SARS-CoV-2 Ribosome Profiling Portal {% endblock %}</h1>

    <p> User Friendly Access Point for SARS-CoV-2 Ribo-Seq data on <a href='https://gwips.ucc.ie/cgi-bin/hgGateway'>GWIPS-Viz</a> and <a href="http://trips.ucc.ie/">TRIPS-Viz</a></p>
    <hr>
 
    <h2 id="about"> About </h2>
    <p> This paragraph will essentially be an introduction to the interest in translational regulation wrt to SARScov2</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget augue justo. Nulla interdum cursus eros ac porttitor. Fusce cursus porta eros. Aliquam imperdiet, felis vel aliquet cursus, arcu velit tempor sapien, vel rhoncus sapien odio sed mauris. Donec luctus pharetra consequat. Fusce molestie metus sit amet neque sollicitudin, at eleifend lorem bibendum. Etiam ut turpis ligula. Ut vitae pulvinar felis. Nullam quis blandit magna, a dictum quam. Vivamus at tristique mauris. Nulla eget nibh augue. Aliquam consectetur urna nec ligula fermentum ullamcorper.</p>

    <h1>JBrowse View of SARS-CoV-2</h1>
    <div style="width: 600px; margin: 0; padding: auto;">
        <iframe
            src="http://localhost:8082/?loc=NC_045512.2%3A1..27600&tracks=DNA%2CSARS-CoV-2GFF3&highlight="
            style="border: 1px solid black"
            width="1000"
            height="300"
        >
        </iframe>
    </div>
    <div id="view_plot" class="wrapper"><button class="button" type="button" onclick="changebuttonlink(gwips_info)"  id="query"><b>View Plot</b></button></div>

    <hr>

    <h1 id='studies'>Studies</h1>

    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-toggle="tab" href="#home_tab" >Home </a></li>
            {% for study in studies %}
                <li role="presentation" class="inactive"><a href=#{{ study['study_id'] }} aria-controls={{ study['study_id'] }} role="tab" data-toggle="tab">{{ study['known_as'] }}</a></li>
            {% endfor %}
        </ul>
        <!-- <ul class="nav nav-tabs">
            <li class="active"><a href="#">Finkel et al.</a></li>
            <li><a href="#">Puray-Chavez et al.</a></li>
          </ul> -->
        <!-- Tab panes -->
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane fade in active" id="home_tab">

            <p> Each tab contains information on each of the published studies that have released ribosome profiling data from SARS-CoV-2 infected cells</p>

        </div>


        {% for study in studies %}
            <div role="tabpanel" class="tab-pane fade" id="{{ study['study_id'] }}">
                <h2> {{ study['title'] }}</h2>
                <p> {{ study['authors'] }}</p>
                <p> {{ study['release_date'] }} | {{ study['journal'] }} | DOI: <a href="https://doi.org/{{ study['doi'] }}"> {{ study['doi'] }} </a> </p>
                <p> {{ study['abstract'] }}</p>
            </div>
        {% endfor %}


    </div>
    <hr>
    <section id='filter'>
        <h1> Filter Your Data and Visualise it on Trips-Viz</h1>
        <div id="accordion">
            <p><a href="{{ url }}"><button style="background-color: #008CBA;; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                border-radius: 12px;
                
                ">Take me to TRIPS-Viz</button></a></p>

            <form method="post">
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        Information on Filtering
                    </a>
                </h5>

                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    Below are a selection of checkboxes categorised by various conditions. Checking the boxes will facilitate the construction of links to the relevant plots on GWIPS-Viz and TRIPS-Viz. Check as many as you like!
                </div>
                </div>
            </div>


            {% for condition in conditions_keys %}

                <div class="card">
                <div class="card-header" id="{{ 'collapse' ~ condition }}">
                    <h5 class="mb-0" style="display: inline-block;">
                    <a class="collapsed card-link" data-toggle="collapse" href="#{{ 'collapse' ~ condition }}">
                        {{ condition_info[condition]['alias'] }}
                    </a>
                    </h5>
                    <div style="float: right">
                        <input type="submit">
                        <input type="reset" value="Clean Slate">
                    </div>
                </div>
                
                <div id="{{ 'collapse' ~ condition }}" class="collapse" data-parent="#accordion">
                    {% for value in conditions[condition]|sort(attribute=value) %}
                            <div class="card-body">
                                {% if condition_info[condition]['value_suffix'] and value   %}
                                    <label><input type="checkbox" name = "hello" value="{{ value }}">   {{ value }}{{ condition_info[condition]['value_suffix']}}  </label>
                                {% else %}
                                    <label><input type="checkbox" name = "hello" value="{{ value }}">   {{ value }}   </label>
                                {% endif %}

                            </div>
                    {% endfor %}
                </div>
                </div>

            {% endfor %}
        </form>

        </div>
    </section>
 
    {% endblock %}
